@import "scss/base/mixin";

@import "scss/base/mapas";
$variablecolor: blue;
$variablecolo2: rgb(207, 28, 28);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    background:  $variablecolo2;
    text-decoration: none;
    color:$variablecolor;
    }
    //mixin con parametros //
    header{
        @include medida(50%);
    }
    footer{
        @include medidas(100%);
    }
  
//mapas//
    
  h3{
    background-color: map-get($map: $premium , $key: bg-premium );
    color: map-get($map: $premium, $key:color-premium );
  }


  
    footer nav ul{
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: space-around;
        padding: 5px;
      }
      
      footer nav ul li a{
        text-decoration: none;
        color:white;
      }
      
      footer h2 h3{
        text-align: center;
      }
    
   footer{
    background-color: $variablecolor;
    color: $variablecolo2;
   } 
   